:root {
    --bg-color: #0f1117;
    --bg-color-transparent: rgba(15, 17, 23, .65);
    --text-color: #fff;
    --text-accent-color: #e91e63;
    --link-color: #03a9f4;
}

body {
    user-select: none;
    color: var(--text-color);
    background: var(--bg-color);
}

input[type=checkbox] {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* controls */
#controls {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    padding: .5em;
    transition: transform .2s ease-out;
    background-color: var(--bg-color-transparent);
}

#controls > * {
    transition: opacity .2s ease-out;
}

#controls > * + * {
    margin-top: .5em;
}

#controls label {
    display: flex;
    cursor: pointer;
}

#controls label:focus-within {
    text-decoration: underline;
}

#controls.disabled {
    transform: translateX(1rem);
}

#controls.disabled > * {
    opacity: .6;
}

#controls.disabled::after {
    content: '🔒  playing demo';
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 0.5rem;
    bottom: 0;
    left: -0.7rem;
    right: 0;
    color: var(--text-accent-color);
    font-size: 0.8rem;
    writing-mode: tb;
    white-space: nowrap;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: .5em;
    border: 1px solid currentColor;
    border-radius: 2px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' viewBox='0 0 5 4'%3E%3Cpath d='M0,0 L5,2 0,4 1,2 0,0' fill='%23333'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: -20px;
}

input[type=checkbox]:checked + .checkbox {
    background-position: center;
    background-color: currentColor;
    transition: background-position .15s ease-out;
}

input[type=button] {
    color: var(--text-color);
    padding: 0;
    width: 100%;
    line-height: 28px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 2px;
    background: transparent;
}

#toggle-controls {
    display: block;
    position: absolute;
    padding: 0;
    background: transparent;
    border: none;
}

#toggle-controls svg {
    transform: rotate(180deg);
    transition: transform .2s ease-out;
}

#controls.hidden {
    transform: translateY(calc(-100% + .5em));
}

#controls.hidden #toggle-controls svg {
    transform: rotate(0);
}

/* links */
#links {
    position: fixed;
    font-size: .8rem;
    bottom: .5em;
    left: .5em;
    right: .5em;
    text-align: right;
}

#links a {
    color: var(--link-color);
    text-decoration: none;
    background-color: var(--bg-color-transparent);
    transition: opacity .1s ease-out;
}

#links a:hover {
    opacity: .8;
}

#links a:not(:first-child) {
    margin-left: .5em;
}

/* helpers */
[hidden] {
    display: none !important;
}
